.navbar-nav {
    width: 50%;
    height: 60px;
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 170px;
   justify-content: space-between;
}
#nav-all {
    background-color: #ffffff;
}
.navbar-brand {
    margin-left: 150px;
}

#firstdiv {
    background-color: #ed564b;
    color: white;
    display: flex;
   flex-direction: row;
   align-items: center;
    height: 350px;
}
.read-more {
    border:1px white solid;
    padding: 8px 38px;
    color: white;
    font-size: 14px;

}

.grid-image {
    background-image: url("/starter-code/img/overlay.png");
    position: absolute;
    width: 100%;
    height: 100%;
}
.link1 {
    color: #ed564b;
}
.link1:hover {
    color: black;
    text-decoration: none;
}
#images-rows1 {
    width: 260px;
    height: 170px;
}
#firstrow-images {
    display: flex;
    justify-content: space-around;
}
.projects {
    margin-top: 60px;
    margin-left: 165px;
}

.break {
    margin-left: 36px;
}
.projects-paragraph {
    color: rgb(184, 182, 182);
}
h2 {
    text-align: center;
}

.paragraphs {
    text-align: center;
    
}
.link1 {
    visibility: initial;
}


#home {
    color: red;
}
.grid {
    background: url("/starter-code/img/overlay.png");
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.carousel-inner {
    filter: grayscale();
}

#carouselExampleIndicators {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0%;
    
}

#firstrow-images {
    padding-top: 14px;
    display: flex;
    flex-direction: row;
}
.images-parag {
    font-family: helvetica;
    margin-top: 16px;
    font-size: 14px;
    
    text-align: center;
}
#secondrow-images {
    padding-top: 14px;
    font-size-adjust: 40px;
    font-size: 15px;
    text-align: left;
}
#title-post {
    font-family: sans-serif;
    vertical-align: baseline;
    color: #000;
    font-size: 15px;
    text-align: left;
    padding-top: 20px;
}
#posted {
    font-size: 12px;
    font-family: inherit;
    color: #606060;
    vertical-align: baseline;
}
#posted a {
    color: #f4473a;
}
#p-posted {
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.6;
    font-size: 12px;
    font-family: sans-serif;
}

.bottom-section {
    border-top: 5px solid #ed564b;
    background: #3b3b3b;
    color: white;
    padding-top: 45px;
    text-align: left;
    font-size: 13px; 
}

.bottom-h5 {
    padding-bottom: 1em;
}

.bottom-p {
color: #aaaaaa;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: #292929;
    color: white;
    font-size: 12px;
}